<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">
      <label
        nz-checkbox
        [(ngModel)]="checkMaster"
        (ngModelChange)="checkAll()"
        [nzIndeterminate]="indeterminate"
      >
      </label>
    </th>
    <th scope="col">#</th>
    <th scope="col">UserName</th>
    <th scope="col">Roles</th>
    <th scope="col">
      <select  class="form-select " [(ngModel)]="status" (change)="updateStatus()" aria-label=".form-select-sm example" >
        <option  [ngValue]="5">Status</option>
        <option  [ngValue]="1">Active</option>
        <option  [ngValue]="0">InActive</option>
        <option [ngValue]="-1">Delete</option>
      </select>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let account of accounts">
    <th>
      <input [(ngModel)]="checkedElement"  (change)="check(account.id)" value="{{account.id}}" type="checkbox">
    </th>
    <th scope="row">{{account.id}}</th>
    <td>{{account.username}}</td>
    <td>
      <div  *ngFor="let role of account.roles">
       <button style="margin-top: 5px" class="btn btn-outline-info">{{role.name}} <i class="fa-solid fa-trash"></i></button>
      </div>
    </td>
    <td [ngSwitch]="account.status">
      <div *ngSwitchCase="1">Active</div>
      <div *ngSwitchCase="-1">Delete</div>
      <div *ngSwitchCase="0">InActive</div>
    </td>
  </tr>
  </tbody>
</table>
